<div class="header">

    <div class="header__snackbar">

        <ul class="header__snackbar-list">
            <li class="header__snackbar-item">
                <a href="#" class="header__snackbar-link">About</a>
            </li>
            <li class="header__snackbar-item">
                <a href="#" class="header__snackbar-link">Updates</a>
            </li>
        </ul>

        <div class="header__snackbar-search input">
            <input type="search" name="Search" placeholder="Search">
            <i></i>
        </div>

    </div>

    <div class="header__nav container">

        <div class="logo"></div>

        <ul class="header__nav-list">
            <li class="header__nav-items"><a href="#">Our work</a></li>
            <li class="header__nav-items"><a href="#">Resources</a></li>
            <li class="header__nav-items"><a href="#">Classes & Training</a></li>
        </ul>
    </div>
</div>
