<li class="list__item">
  <a href="#" class="list__item-link">
    <div class="list__item-image">
      <img src="http://placekitten.com/274/274" alt="">
    </div>
    <div class="list__item-content">
      <h2>Bionic Mainframe Processor</h2>
      <div class="list__item-hint">Read more ></div>
    </div>
  </a>
</li>
