<div class="jumbo">
  <div class="jumbo__section">
    {{> molecules-heroText }}
  </div>
  <div class="jumbo__section">
    <div class="jumbo__image">
      <img src="http://placekitten.com/631/388" alt="cat">
    </div>
  </div>
</div>
