// Font faces and imports here
@import url('https://fonts.googleapis.com/css?family=Amaranth:700|Open+Sans:400,400i,600,700,800&display=swap');

// Set base typo here
// html is set to 62.5% so that all
// the REM measurements are based on 10px sizing.
// So basically 1.5rem = 15px :)

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    line-height: 1.9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amaranth', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
