// Core of scss where all colors,
// reoccurring sizes and others go.


// Breakpoint sizes
$xs: 320px;
$sm: 768px;
$md: 992px;
//$lg: 1200px;


// Colors
$primary: #9a50f3;
$grey: #cbcbcb;
$other-grey: #ececec;
$second-grey: #dbdbdb;

$black: #000000;
